# MongoDB
MONGODB_URI=mongodb://localhost:27017/happycart

# JWT - Generate a new secret
JWT_SECRET=fc55f60b85751dc3713e650f7272279c2f41b208ae1bf46a69fe26edd6a4f9e968aeafc5cdfd0a12cc9096c1dc4a0dc7090bf7cca23f3b7791a14e6ede346d0c
JWT_EXPIRE=30d

# For production, you'll need:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ecommerce

# Cloudinary (if you use image uploads)
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret

# Server
PORT=5000
NODE_ENV=development